@import '../../scss/grid_mixins_variables.scss';

.nav {
  margin: 2em 0;
  position: sticky;
  top: 5em;
  left: 0;
  background-color: rgba($color: #000000, $alpha: .7);
  padding: 1em .3em;
  border-radius: 1em;
  box-shadow: $boxsh-sm;
}


.ul {
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: .5em;
}

.btn {
  @include flex(row, center, center);
  width: 30px;
  height: 23px;
  font-family: $mont;
  background-color: $accent-cl;
  padding: .5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: lighten($accent-cl, 30%);
  }
}