@import '../../scss/grid_mixins_variables.scss';


.desc {
  margin: 1em 0;
  font-family: $open;
  font-weight: 300;
  line-height: 2em;
  text-align: justify;
  font-size: 1.1em;
}



.technologiesHeading {
  font-family: $mont;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  color: $header-cl;
  text-transform: uppercase;
  text-shadow: $txtsh-l;
}

.listItem {
  margin-top: 1em;
}

.reactListItem {
  @include flex(row, space-beetwen, flex-start);
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1em;
  font-style: normal;
}

.fontAwesome {
  font-size: 1.5em;
  margin-right: .5em;
}

.sass {
  color: #CD6799;
}

.check {
  color: green;
}

.react {
  color: steelblue;
}