@import '../../scss/grid_mixins_variables.scss';

.hamburger {
  cursor: pointer;
  z-index: 10;
  height: 1em;
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
}

.line {
  position: relative;
  display: block;
  width: 32px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  transition: background-color .5s ease-in-out,
    transform .5s ease-in-out, top .3s ease-in-out 1s;

  &::after,
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;


  }

  &::before {
    top: 8px;
    left: 0;
    opacity: 1;
    transition: opacity .5s ease-in-out .4s;

  }

  &::after {
    top: 16px;
    left: 0;
    transition: background-color .5s ease-in-out, transform .5s ease-in-out, top .5s ease-in-out .3s;

  }
}

.line.lineOpen {
  top: 8px;
  right: 0;
  background-color: $header-cl;
  transform: rotate(405deg);

  transition: background-color .5s ease-in-out,
    transform .5s ease-in-out, top .3s ease-in-out;

  &::after {
    background-color: $header-cl;

  }

  &::after {
    top: 0;
    right: 0;
    transform: rotate(90deg);
    transition: background-color .5s ease-in-out, transform 1.5s ease-in-out, transform .5s ease-in-out;

  }

  &::before {
    opacity: 0;
    transition: opacity .5s ease-in-out;

  }



}