@import '../../scss/grid_mixins_variables.scss';

.years-container {
  margin-top: 3em;
  background-color: rgba($color: #000000, $alpha: .7);
  border-radius: 1em;
  box-shadow: $boxsh-sm;
  padding: 1em .3em;

  @media (min-width: 600px) {
    @include flex(column, space-evenly, center);
    margin: 0;
    position: sticky;
    top: 10%;
    left: 0;
  }

  >* {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  color: $header-cl;
}

.list {
  @media (max-width: 600px) {
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    gap: .3em;
  }
}

.year-li {
  @media (min-width: 600px) {
    padding: .2em;
  }
}

.year-btn {
  @include flex();
  padding: .1em;
  color: $accentlh-cl2;
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.active {
  background-color: $header-cl;
}