@import '../../scss/grid_mixins_variables.scss';

.years-container {
  @include flex(column, space-evenly, center);
  margin: 0;
  position: sticky;
  top: 10%;
  left: 0;
  background-color: rgba($color: #000000, $alpha: .7);
  padding: 1em .3em;
  border-radius: 1em;
  box-shadow: $boxsh-sm;


  >* {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: $header-cl
}

.year-li {
  @include flex();
}

.year-btn {
  @include flex();
  padding: .1em 0;
  color: $accentlh-cl2;
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.active {
  background-color: $header-cl;
}