@import '../../scss/grid_mixins_variables.scss';

.mainContent {
  // background-color: $main-cl-lighter;
  background-color: rgb(30, 30, 50);
  min-height: 100vh;
  color: $accentlh-cl2;
  padding-bottom: 2em;

  @media (min-width: 800px) {
    padding-top: 55px;
  }
}