@import '../../scss/grid_mixins_variables.scss';

.mainContent {
  background-color: $main-cl-lighter;
  min-height: 100vh;
  color: $accentlh-cl2;

  @media (min-width: 800px) {
    padding-top: 55px;
  }
}