@import '../../scss/grid_mixins_variables.scss';

.container {
  position: relative;
  @include flex(row, space-between, center);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.logo {
  color: #fff;
  font-size: 1.2em;
  z-index: 15;
}

.headerNarrower,
.headerWider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid $main-cl-lighter;
  box-shadow: $boxsh-sm;
  z-index: 10;
  transition: all 0.02s linear;

  @media (max-width: 800px) {
    padding: 0.5em 0;
  }
}

.headerWider {
  background-color: $main-cl;
  font-size: 18px;
}

.headerNarrower {
  background-color: rgba($color: #111, $alpha: 0.9);
  font-size: 16px;
}

// DESKTOP
.navigation {
  width: 50%;
  @include flex(row, space-evenly, center);

  .ul {
    @include flex(row, space-evenly, center);
    width: 100%;
  }

  .li {
    display: block;
    width: 100%;
    text-align: center;
  }

  .linkWider,
  .linkNarrower {
    display: block;
    width: 100%;
    padding: 1em 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $header-cl;
    text-align: center;
    transition: all 0.3s ease-in-out;

    @media (max-width: 950px) {
      font-size: 0.8em;
    }
  }
}

.linkNarrower {
  padding: 0.2em 0;
  font-size: 1em;
}

.linkWider {
  padding: 1em 0;
  font-size: 1.2em;
}

// MOBILE
.mobileNavigation {
  @include flex(row, center, center);

  .ul {
    @include flex(column, space-evenly, center);
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: rgba($color: #111, $alpha: 0.9);
  }

  .li {
    width: 33%;
    height: 100%;
    color: #fff;
  }

  .linkWider,
  .linkNarrower {
    display: block;
    width: 100%;
    padding: 1em 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $header-cl;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 800px) {
  .navigation {
    display: none;
  }
}

@media (min-width: 800px) {
  .mobileNavigation {
    display: none;
  }
}

// NavLinks

a {
  border-bottom: 4px solid transparent;
}