@import '../../scss/grid_mixins_variables.scss';

.desc {
  margin: 1em 0;
  font-family: $open;
  font-weight: 300;
}

.imgContainer {
  display: grid;

  @media (min-width: 850px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  }

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));

  gap: 1em;
}

.img {
  box-shadow: $boxsh-lg;
  border-radius: 1em;
  object-fit: contain;
}

.paramsContainer {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5em;
}

.paramsCard {
  background-color: rgba($color: #fff, $alpha: 0.9);
  padding: 1em;
  border-radius: 1em;
  box-shadow: $boxsh-xl;
}

.paramsHeading {
  color: #333;
  font-weight: bold;
  text-shadow: $txtsh-l;
  text-transform: uppercase;
}

.paramsDesc {
  color: #000;
}