@import "../../scss/grid_mixins_variables.scss";

.heading {
  font-weight: bold;
  color: orange;
}

.list>* {
  display: block;
}

.link {
  margin: 1em 0;
}

.sidebar {
  position: sticky;
  top: 5em;
  left: 0;
  flex-grow: 0;
}