@use "sass:math";

$column: 12;
$gap: 1em;
$page-width: 1200px;

.container {

  margin: 0 auto;
  max-width: $page-width;
  padding-left: $gap*2;
  padding-right: $gap*2;
}

[class^="col-"] {

  padding: 0 $gap;
  box-sizing: border-box;
  // margin-top: math.div($gap, 2);
  // margin-bottom: math.div($gap, 2);
  // border: .5px solid rgba($color: #000000, $alpha: .2);
}

.row {
  margin-left: -$gap*2;
  margin-right: -$gap*2;

  @media (min-width: 600px) {
    display: flex;

    @for $i from 1 through $column {
      .col-#{ $i } {
        width: math.div(100%, $column) * $i;
      }

    }

  }
}