$main-cl: #313552;
$main-cl-lighter: lighten($main-cl, 10%);
$header-cl: #B8405E;
$accent-cl: #2EB086;
$accentlh-cl2: #EEE6CE;

$mont: ('Montserrat', sans-serif);
$rale: ('Raleway', sans-serif);

$boxsh-sm: (3px 3px 4px 0px rgba(66, 68, 90, 0.5));
$boxsh-lg: (4px 4px 8px 0px rgba(66, 68, 90, 0.5));